
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 50px;
   background-color: rosybrown;
   width: 80%;
   margin-left: 250px;
    
}
.containerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rosybrown;
    margin-left: 250px;
    flex-wrap: wrap;
}
.btn{
    background-color: violet;
    color:beige;
    padding: 10px;
    font-size: 30px;
    border: 10px solid blueviolet;
    }
.tarjeta{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    border: 2px solid rgb(175, 29, 29);
    border-radius: 20px;
    
    }
.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid red;
    
}

.titulo{
    color: red;
    font-size: 22px;
    font-weight: bold;
    }

.descripcion{
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;
   }
  
  .h1{
    margin-left: 20%;
  }
  .h2{
    font-size: 10px;
    color: white;
  }
   
 .link{
    position: sticky;
    font-size: 40px;
    color:green;
      }
 

 .ul{
    
    background-color: bisque;
   
 }
 .li{
    
    display: inline-block;
    padding: 10px 26px;
    font-size: 80px;
    
 }